<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        {{>navbar}}
        <h1>About</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae vero suscipit ut deserunt dolorum tempore officia
            beatae dolore ducimus expedita voluptatem, cumque eius amet ex minus! Aspernatur, corrupti doloribus?</p>

        {{>footer}}
    </body>

</html>